.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #3677bc !important;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase;
}

.hoverable:hover{
	border-top: 5px solid #3b5998;
}
.dropdown-content li > a, .dropdown-content li > span{
    color: #009bdf !important;
}
.dropdown-content-small li{
	min-height: 23px !important;
	padding: 2px 0 !important;
	display: inherit !important;
	width: 100% !important;
}
.dropdown-content-small li.divider {
    min-height: 0 !important;
     height: 1px !important; 
}
.dropdown-content-small li > a, .dropdown-content-small li > span {
    font-size: 12px !important;
    line-height: 1.42857 !important;
    padding: 5px 12px !important;
    display: inherit !important;
    color: #3b5998 !important;
  }

/*passwd hide & show*/
.checkboxHide {
    padding-left: 1px !important;
    font-size: 1.5rem !important;
}
.checkboxHide:before{
    display: none;
}

.card.horizontal .card-image img{
    padding: 30px 5px;
}

.btn-style{
    margin: 3px;
    padding: 0 .5rem !important;
}

.quizes_table tbody tr:hover{
    color: #fff;
    border-left: 3px solid #009bdf;
    background-color: #009bdf;
}

.project_head{
    background-color: #009bdf !important;
    padding: 10px;
    margin: 0;
    font-weight: 300;
}

/*.tab_head:active {
    background-color: #323232 !important;
    color: #fff !important;
}*/

.tabs .tab a {
    font-weight: initial;
    background-color: #323232 !important;
    color: #fff !important;
    font-size: medium;
}

.tabs .indicator{
    height: 4px !important;
    background-color: #009bdf !important;
}
.switch label .lever{
  background: linear-gradient(#F44336, #9a1414);
}
.switch label .lever:after{
    /*background: linear-gradient(#8c8c8c, #efefef);*/
    background: url(../../assets/images/lever_on.png);
}
.switch label input[type=checkbox]:checked + .lever:after{
    background-color: #3b5998 !important;
    /*background: linear-gradient(#8c8c8c, #efefef);*/
    background: url(../../assets/images/lever_on.png);
}

/*.switch label .lever{
  background: url(../../assets/images/lever_bg.png);
    border-radius: 24px;
    padding: 3px;
}*/


.switch label input[type=checkbox]:checked + .lever {
    background-color: #ff0000 !important;
    background: linear-gradient(#9fe054, #5b753c);
}

[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #3b5998 !important;
    background-color: #3b5998 !important;
}

.collapsible li .collapsible-header>.active {
    background-color: #7756a4 !important;
    color: #fff !important;
}

/* input color */
.input-field .prefix.active{
    color: #009bdf !important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #009bdf !important;
  box-shadow: 0 1px 0 0 #009bdf !important;
}


input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #009bdf !important;
}

/*remove up & down arrow from textbox */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


/*datatable extra css */
.dataTables_length select{
    display: -webkit-box;
  }

table.dataTable thead th, table.dataTable thead td{
    padding: 1px 10px !important;
    font-size: 12px !important;
}

/*tamplate css*/

.hovereffect {
        margin-bottom: 5px;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect_heading{
    padding: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(253, 253, 253, 0), #000000);
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background: linear-gradient(to bottom right, rgba(0, 155, 223, 0.62), rgba(0, 155, 223, 0.27));
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover h5 {
  position: relative; 
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81); 
}


.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 28px 0 0;
  padding: 0px 14px;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
    color: #313131;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h5,.hovereffect:hover a.info,.hovereffect:hover h6 {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}


.engagement_bg {
    border: 2px solid #00affd !important;
    border-radius: 11px !important;
    background-image: -webkit-linear-gradient(left, #00b1ff, #0079b3, #313131);
    background-image: -moz-linear-gradient(left, #00b1ff, #0079b3, #313131);
    background-image: -ms-linear-gradient(left, #00b1ff, #0079b3, #313131);
    background-image: -o-linear-gradient(left, #00b1ff, #0079b3, #313131);
    background-image: linear-gradient(to right, #00b1ff, #0079b3, #313131);
}
#activity_charts{
   width: 100%;
  height: 500px;
  font-size: 11px;
}
.chartdiv {
  width: 100%;
  height: 500px;
  font-size: 11px;
}

.amcharts-pie-slice {
  transform: scale(1);
  transform-origin: 50% 50%;
  transition-duration: 0.3s;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  cursor: pointer;
  box-shadow: 0 0 30px 0 #000;
}

.amcharts-pie-slice:hover {
  transform: scale(1.1);
  filter: url(#shadow);
} 


/*show data car panel*/
.data_card_panel{
      text-align: center;
}
.data_card_panel span {
    font-size: 15px;
}
.data_card_panel i {
    font-size: 40px;
    line-height: 50px;
}
.data_card_panel_number {
    right: 5px;
    font-size: 35px !important;
    font-weight: 300;
    color: #212121;
    text-shadow: 2px 2px 4px #5f5f5f;
}

/*radio btn color css*/
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after{
      border: 2px solid #009bdf !important;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after{
      background-color: #2f2f2f !important;
}

/* HR STYLE */
hr.hrstyle {
    border-top: 2px dashed #009bdf !important;
}

/* side bar sub child */
.side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active{
    background-color: #f3f3f3 !important;
}
.side-nav .collapsible-body li.active a, .side-nav.fixed .collapsible-body li.active a{
    color: #323232 !important;
}

.padding_10{
  padding: 10px !important;
}
.padding_15{
  padding: 15px !important;
}

/* profile card */
#profile-card .card-image {
  height: 150px;
}

#profile-card .card-profile-image {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 110px;
  z-index: 1;
  cursor: pointer;
}

#profile-card .btn-move-up {
  position: relative;
  top: -40px;
  right: -18px;
  margin-right: 10px !important;
}

#profile-card .card-content p {
  font-size: 1.2rem;
  margin: 10px 0 12px;
}

.card-move-up .move-up {
  padding: 20px;
}


/* fb page add checkbox*/
[type="checkbox"].filled-in:not(:checked) + label:after{
  
}

[type="checkbox"].filled-in + label:before, [type="checkbox"].filled-in + label:after{
  margin-top: 14px !important;
}

/*fb btn */
.fb_add_btn{
    background-color: #fff !important;
    line-height: 155px !important;
    height: 175px !important;
    width: 175px !important;
    border: 5px solid #888888 !important;
}

.fb_add_btn i{
   font-size: 110px !important;
}
.fb_add_btn_plus{
  font-weight: 800;
  font-size: 184px !important;
  color: #3677bc !important;
}
/* message  */
.radius_10{
  border-radius: 10px !important;
}

.text_style_none{
    text-transform: none !important;
}

.minicolors-swatch-color{
  border: 1px solid #8e8e8e;
}

.no-border{
  border: 0px solid #000 !important;
}

/*chip tag */
.chip{
    height: auto !important;
    font-size: 13px !important;
    color: #ffffff !important;
    line-height: 23px !important;
    background-color: #3677bc !important;
}
.chip .close{
  line-height: 24px !important;
}



/* msg*/
.card_list_option{
    height: 80px;
    min-width: 80px;
    margin: 5px 5px 0 0;
    border: 1px solid #ddd;
    padding: 12px 0px 0px 0px;
    background-color: #fafafa;
    background-image: none;
    filter: none;
    display: inline-block;
    color: #646464;
    text-shadow: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.card_list_option_text
{
  color: #666666; 
  /*text-transform: uppercase; */
  font-weight: 600; 
  font-size: 11px;
}

.socioleadsCircle{
  width: 270px;
  height: 270px;
  border-radius: 50% !important;
    margin: 0 auto !important;
}
.socioleadsCircleHeading{
  font-size: 15pt;
}
@media only screen and (max-width: 600px) {
  .socioleadsCircle {
    width: 270px;
  height: 270px;
  border-radius: 50% !important;
}
.socioleadsCircleHeading{
  font-size: 13pt;
}
}
@media only screen and (max-width: 900px) {
  .socioleadsCircle {
    width: 233px;
  height: 233px;
  border-radius: 50% !important;
  }
.socioleadsCircleHeading{
  font-size: 13pt;
} 
}

.switch label .lever:before{
  background: linear-gradient(#8a8a8a, #ffffff);
    border-radius: 24px;
    padding: 3px;
}