   header, main, footer {
      padding-left: 200px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

.container {
  margin: 0 auto;
  max-width: 90% !important;
  width: 90% !important;
}

.side-nav{
  width: 230px !important;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70% ;
  }
}