@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.pt_sans_font{
    font-family: 'Open Sans', sans-serif;
}

body{
    /*font-family: 'Open Sans', sans-serif;*/
    /*background: url(../images/bg.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.strong_700{
    font-weight: 700 !important;
}
/* font size*/
.font_20{
    font-size: 20px !important;
}
.font_40{
    font-size: 40px !important;
}
.font-500{
    font-weight: 500;
    font-size: large;
    color: #424242 !important;
}
.side-nav{
    background-color: #3677bc !important;
}
.side-nav a{
    font-weight: 400 !important;
    color: #fff !important;
}
.side-nav .active{
	border-left: 3px solid #3677bc;
}
.side-nav li{
   border-top: 1px solid #fff !important;
}

.side_logo_div{
    height: 70px;
    background-color: #fff;
}


.margin-top-10{
    margin-top: 10px !important;
}
.margin-top-30{
    margin-top: 30px !important;
}
.margin-top-50{
    margin-top: 50px !important;
}
.margin-bottom-10{
    margin-bottom: 10px !important;
}
.margin-bottom-30{
    margin-bottom: 30px !important;
}
.margin-bottom-50{
    margin-bottom: 50px !important;
}

/* color */
.push_light{
    background-color: #26b9f1 !important;
}
.push_dark{
    background-color: #3677bc !important;
}
.push_light_text{
    color: #26b9f1 !important;
}
.push_dark_text{
    color: #3677bc !important;
}

/*img size */
.img_50{
    width: 50px !important;
}

/* sign in */
.green_border_top{
    border-top: 10px solid #b9f6ca;
}

.particles_position{
	display: block;
	position: absolute;
}
.nav-wrapper > .brand-logo img{
	margin-top:  12px;
    width: 185px;
}
.avatar_size{
	height: 100px !important;
}
.avatar_name{
	font-size: large;
    padding: 0 20px 0 20px;
    margin-top: -20px;
    line-height: 25px;
}

.dashboard_panel_number{
	position: absolute;
    margin-top: -42px;
    right: 15px;
    font-size: 35px;
    font-weight: 300;
    color: #212121;
    text-shadow: 2px 2px 4px #5f5f5f;
}

.dashboard_panel i{
    font-size: 40px;
    line-height: 50px;
}
.dashboard_panel span{
	position: absolute;
    font-size: 15px;
}

/* padding for icon btn */
.small_padding_icon{
    padding: 0 1rem !important;
}

/* btn style */
.btn_style{
    height: 30px !important;
    line-height: 29px !important;
    margin-left: 5px !important;
    font-size: 11px !important;
    padding: 0px 5px 0px 5px !important;
    text-transform: none !important;
}


.btn_red_style {
    margin-left: 5px !important;
    font-size: 11px !important;
    padding: 0px 5px 0px 5px !important;
    color: #fff !important;
    background-color: #f44336 !important;
    border: 2px solid #f44336 !important;
}

.btn_style span, .btn_red_style span{
    vertical-align: top;
}

.btn_style i, .btn_red_style i{
    vertical-align: text-bottom;
}


/* campaigns edit */
.campaigns_edit_panel{
    background: #f2f2f2;
    display: block;
    width: 100%;
    height: 180px;
    padding: 0px;
    border: 1px solid #eeeeee;
    color: #333333;
}

.campaigns_edit_panel p{
    font-size: 20px;
}

#main_img {
    padding-top: 40px;
    padding-left: 15px;
}

#main_img img{
    height: 40px;
    width: 40px;
}
#thumb_img img{
    height: 20px;
    width: 20px;
}

/* campaigns details*/
.campaigns_panel_number{
    position: absolute;
    margin-top: -15px;
    font-size: 40px;
    font-weight: 300;
    color: #212121;
    text-shadow: 2px 2px 4px #5f5f5f;
}
.campaigns_panel_link{
    position: absolute;
    font-size: 25px;
    font-weight: 400;
    color: #212121;
}
.campaigns_panel{
    display: block;
    float: right;
    height: 80px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-top: 22px;
    width: 100px;
}
.campaigns_panel i{
    color: rgba(64, 191, 140, 0.11);
    font-size: 100px;
    line-height: 65px;
    overflow: hidden;
}
.campaigns_panel_details{
    background: transparent;
    padding: 15px 5px 30px;
    display: inline-block;
    position: relative;
    z-index: 3;
}
.campaigns_panel span{
    font-size: 40px;
    font-weight: 200;
}

.paper{
    line-height: 30px;
    font-size: 14px;
    padding: 30px 55px 27px;
    position: relative;
    outline: none;
    background: white;
    background: -webkit-linear-gradient(top, #dfe8ec 0%, #ffffff 8%) 0 0px;
    background: -moz-linear-gradient(top, #dfe8ec 0%, #ffffff 8%) 0 0px;
    background: linear-gradient(center top, #dfe8ec 0%, #ffffff 8%) 0 0px;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size: 100% 30px;
}
.paper::after {
    content: '';
    position: absolute;
    width: 0px;
    top: 0;
    left: 39px;
    bottom: 0;
    border-left: 1px solid #F8D3D3;
}
.editNote{
    word-wrap: break-word;
}

/*charts*/
#chartdiv {
    width       : 100%;
    height      : 500px;
    font-size   : 11px;
}


.card_title{
    background-color: #3677bc;
    margin: 0;
    color: #fff;
    padding: 15px;
}

#full_thumb_img img{
    height: 100px;
    width: 100%;
}

.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-bottom-space {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.no-top-space {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.no-space {
  margin: 0 !important;
  padding: 0 !important;
}
.no-text-shadow {
  text-shadow: none !important;
}

.padding_5{
    padding: 5px !important;
}

.card-search-body {
    padding: 5px !important;
    border: 1px solid #EBEDF3 !important;
    border-radius: 0.42rem  !important;
}
.card-search {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
}
#kt_aside_toggle:focus {
    background-color: transparent;
}

.card-columns-post {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.card-columns-post .card-post {
    /*display: inline-block;*/
    display: flex;
    width: 100%;
    background-color: transparent;
    flex-flow: wrap;
    padding: 0;
    border: 1px solid transparent;
}

.card-body-post {
    background: #fff;
    flex-basis: 31%;
    margin: 10px 14px;
    border: 1px solid #EBEDF3;
    border-radius: 0.42rem;
    flex: none;
    width: 31%;
    background-color: #ffffff;
}
.card-body .post-card-body {
    background: #fff;
    flex-basis: 31%;
    margin: 10px 10px;
    border: 1px solid #EBEDF3;
    border-radius: 0.42rem;
    flex: none;
    width: 31%;
}

.description-text {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.brand-logo img {
    width: 100%;
}
