.login.login-3.login-welcome-on .login-signin,
.login.login-3.login-welcome-on .login-signup,
.login.login-3.login-welcome-on .login-forgot {
  display: none; }

.login.login-3.login-welcome-on.login-signin-on .login-signup {
  display: none; }

.login.login-3.login-welcome-on.login-signin-on .login-signin {
  display: block; }

.login.login-3.login-welcome-on.login-signin-on .login-forgot {
  display: none; }

.login.login-3.login-welcome-on.login-signin-on .login-welcome {
  display: none; }



.login.login-3.login-welcome-on.login-signup-on .login-signup {
  display: block; }

.login.login-3.login-welcome-on.login-signup-on .login-signin {
  display: none; }

.login.login-3.login-welcome-on.login-signup-on .login-forgot {
  display: none; }

.login.login-3.login-welcome-on.login-signup-on .login-welcome {
  display: none; }


.login.login-3.login-welcome-on.login-forgot-on .login-signup {
  display: none; }

.login.login-3.login-welcome-on.login-forgot-on .login-signin {
  display: none; }

.login.login-3.login-welcome-on.login-forgot-on .login-forgot {
  display: block; }

.login.login-3.login-welcome-on.login-forgot-on .login-welcome {
  display: none; }

.login.login-3.login-welcome-on.login-forgot-on .login-welcome {
  display: none; }

.login.login-3.login-welcome-on.login-reset-on .login-success {
  display: none; }

.login.login-3.login-welcome-on.login-success-on .login-resetpwd {
  display: none; }

.login.login-3.login-welcome-on.login-success-on .login-success {
  display: block; }

.login.login-3.login-welcome-on.login-resetpwd-on .login-success {
  display: none; }

.login.login-3.login-welcome-on.login-resetpwd-on .login-resetpwd {
  display: block; }

.login.login-3.login-welcome-on .login-form {
  width: 100%;
  max-width: 50%; }

.abcRioButtonIcon {
  display:none;
}

.abcRioButtonContents span {
  display: block;
}

.abcRioButtonContentWrapper {
  background-color: #fc5754;
}

.abcRioButtonContentWrapper:hover {
  background-color: #da4a47;
}

.abcRioButtonContents::before {
  line-height: 41px !important;
  content: "Google" !important;
  color: white;
  font-weight: bold;
}
@media (max-width: 575.98px) {
  .login.login-3.login-welcome-on .login-form {
    width: 100%;
    max-width: 100%; } }
